.app {
    display: block;
    width:33vw;
    height:100vh;
    background-color: #56b4d9;
    position: absolute;
    left: 33vw;
    padding:30px;

}
.counter{
    display: flex;
    width:50%;
    height:15%;
    font-size: 20px;
    margin-left:25%;
    background-color: #5dcff6;
    border: solid 2px white;
    justify-content: center;
    align-items: center;
}
.btns{
display: block;
}
.btn  {
    display: block;
    background-color: #becbc0;
    width:50px;
    height:50px;
    margin:20px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black ;
    cursor: pointer;
}
.btn:active {
   transform: scale(0.9)
}